.progress-bar-2-container {
  display: flex;
}

.progress-bar-2 {
  transform: rotate(180deg);
}

.progress-bar-2-value {
  align-self: flex-end;
  font-size: 4.5rem;
  font-family: "Exo 2";
  font-weight: 600;
  color: #603d52;
  margin-left: 1.3rem;
  width: 5rem;
  line-height: 0.9;
}
